@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	-pie-box-shadow: 6px 6px 8px #000000;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #D31208;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#page_position_content
{
	margin-top: 8px;
	margin-bottom: 68px;
}

#pu663-4
{
	width: 0.01px;
	position: relative;
}

#u663-4
{
	z-index: 4;
	width: 403px;
	min-height: 76px;
	margin-right: -10000px;
	left: 10px;
}

#u664-4
{
	z-index: 8;
	width: 446px;
	min-height: 85px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 322px;
}

#menuu667
{
	z-index: 12;
	width: 768px;
	padding-bottom: 20px;
	margin-right: -10000px;
	margin-top: 76px;
}

#u683
{
	width: 248px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
	left: 10px;
}

#u684
{
	width: 248px;
	padding-bottom: 7px;
}

#u684:hover
{
	margin: 0px;
}

#u684:active
{
	margin: 0px;
}

#u685-4
{
	width: 228px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 10px;
}

#u684:hover #u685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u684:active #u685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u690
{
	width: 248px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
	left: 260px;
}

#u691
{
	width: 248px;
	padding-bottom: 7px;
}

#u684.MuseMenuActive,#u691:hover
{
	margin: 0px;
}

#u691:active
{
	margin: 0px;
}

#u694-4
{
	width: 228px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 10px;
}

#u684.MuseMenuActive #u685-4,#u691:hover #u694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u691:active #u694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u697
{
	width: 248px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
	left: 510px;
}

#u698
{
	width: 248px;
	padding-bottom: 7px;
}

#u691.MuseMenuActive,#u698:hover
{
	margin: 0px;
}

#u698:active
{
	margin: 0px;
}

#u698.MuseMenuActive
{
	margin: 0px;
}

#u699-4
{
	width: 228px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 10px;
}

#u691.MuseMenuActive #u694-4,#u698:hover #u699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u698:active #u699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u698.MuseMenuActive #u699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pu722
{
	width: 0.01px;
	margin-left: 411px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u722
{
	z-index: 31;
	width: 135px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u725
{
	z-index: 33;
	width: 120px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 143px;
}

#u1079
{
	z-index: 37;
	width: 85px;
	margin-right: -10000px;
	left: 270px;
}

#pu731
{
	width: 0.01px;
	margin-top: 2px;
	position: relative;
}

#u731
{
	z-index: 2;
	width: 767px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 1px;
}

#u731_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u734
{
	z-index: 35;
	width: 514px;
	margin-right: -10000px;
	margin-top: 437px;
}

#u749-4
{
	z-index: 39;
	width: 748px;
	min-height: 262px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#page .verticalspacer
{
	clear: both;
}

