@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #D31208;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	-pie-box-shadow: 6px 6px 8px #690904;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #D31208;
}

#page_position_content
{
	margin-bottom: 71px;
}

#pu534-4
{
	width: 0.01px;
	position: relative;
}

#u534-4
{
	z-index: 2;
	width: 380px;
	min-height: 76px;
	margin-right: -10000px;
}

#u535-4
{
	z-index: 6;
	width: 375px;
	min-height: 85px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 5px;
}

#menuu539
{
	z-index: 12;
	width: 380px;
	padding-bottom: 20px;
	margin-right: -10000px;
	margin-top: 71px;
}

#u562
{
	width: 118px;
	min-height: 24px;
	margin-right: -10000px;
	top: 10px;
	left: 10px;
}

#u565
{
	width: 118px;
	padding-bottom: 7px;
}

#u565:hover
{
	margin: 0px;
}

#u565:active
{
	margin: 0px;
}

#u567-4
{
	width: 98px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
	left: 10px;
}

#u565:hover #u567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u565:active #u567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u540
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 10px;
	left: 130px;
}

#u543
{
	width: 119px;
	padding-bottom: 7px;
}

#u565.MuseMenuActive,#u543:hover
{
	margin: 0px;
}

#u543:active
{
	margin: 0px;
}

#u546-4
{
	width: 99px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
	left: 10px;
}

#u565.MuseMenuActive #u567-4,#u543:hover #u546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u543:active #u546-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u569
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
	top: 10px;
	left: 251px;
}

#u572
{
	width: 119px;
	padding-bottom: 7px;
}

#u543.MuseMenuActive,#u572:hover
{
	margin: 0px;
}

#u572:active
{
	margin: 0px;
}

#u572.MuseMenuActive
{
	margin: 0px;
}

#u575-4
{
	width: 99px;
	min-height: 17px;
	margin-right: -10000px;
	top: 3px;
	left: 10px;
}

#u543.MuseMenuActive #u546-4,#u572:hover #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u572:active #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u572.MuseMenuActive #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u586
{
	z-index: 33;
	width: 124px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 5px;
}

#u589
{
	z-index: 35;
	width: 108px;
	margin-right: -10000px;
	margin-top: 118px;
	left: 142px;
}

#u1082
{
	z-index: 37;
	width: 51px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 291px;
}

#pu536
{
	width: 0.01px;
	margin-top: 20px;
	position: relative;
}

#u536
{
	z-index: 10;
	width: 380px;
	margin-right: -10000px;
	margin-top: 68px;
}

#u581
{
	z-index: 31;
	width: 199px;
	margin-right: -10000px;
	margin-top: 168px;
	left: 11px;
}

#u609-16
{
	z-index: 39;
	width: 360px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#u609-14
{
	font-size: 20px;
	color: #FFFFFF;
}

