#u97-4
{
	color: #FFFFFF;
	font-size: 72px;
	position: relative;
}

#u100-4
{
	color: #333333;
	font-size: 24px;
	font-style: italic;
	position: relative;
}

#u381,#u394,#u864
{
	position: relative;
}

